
      body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      }
      main {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 300px;
      text-align: center;
    }
      h2{
      font-family: 'Courier New', Courier, monospace;
      font-weight: 1000;
      }
      label[for="username"]{
        font-family: 'Courier New', Courier, monospace;
      }
      label[for="password"]{
        font-family: 'Courier New', Courier, monospace;
      }
      button[="password"]{
        font-family: 'Courier New', Courier, monospace;
      }

      button[type="submit"] {
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;

      
    }